header 
    //- nav 
    //-     a(href="/") INDEX
    //-     a(href="./about") ABOUT
    //-     a(href="#") Enlace 2

    ul 
        li: a(href="./index.pug") home
        li: a(href="./escritos.pug") Escritos
        li: a(href="./sobremi.pug") Sobre mi
        li: a(href="./obra.pug") Obra
        li: a(href="./lab.pug") Lab
