// /* LOADER */

.fade-page-off {
    opacity: 0.2;
  }
  
  .fade-page-off.fade-page-on {
    opacity: 1;
    -ms-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  
  #preloader {
    padding: $size-2;
    -webkit-animation: parpadeo 2s linear 1;
    -moz-animation: parpadeo 2s linear 1;
    animation: parpadeo 2s linear 1;
    opacity: 0;
  }