extends includes/baseblog

block head
    title escritos

block pageheader
    header.headerContent
        h1.titlePage
            | Sobredosis de información, creatividad y distracciones
        p.subTitlePage
            | Faltas y/o excesos

block content
    img(src="./img/blog/creatividad-universal.svg", alt="sostener el vacio existencial") 