extends includes/baseblog

block head
  title escritos

block pageheader
  header.headerContent
    h1.titlePage
      | Artículos
    p.subTitlePage
      | "En ocasiones escribo cosas". Éstas están en permanente proceso de reelaboración.

block content
  ol.postlist.grid
    each article in articles
      li.grid__item.postlist-item
        a.postlist-link(href=`${article.url}`) 
          h3= article.title
          img(src=article.img, alt=article.title)
