extends includes/base.pug

block head
  title escritos

block content
  header.headerContent

  h1 Escritos!
  //- a(href="/")


  //- input(type='checkbox' checked)

  //- -var edad = 10;
  //- if (edad < 18)
  //-   p eres menor de edad 
  //- else if (edad >=18)
  //-   p eres mayor de edad