extends includes/base.pug

block head
  title home

block content
  h1 #{name}!
  
  div
    a(href="./about.pug") dddd

  img(src="/src/img/bg4.jpg", alt="")

  input(type='checkbox' checked)

  -var edad = 10;
  if (edad < 18)
    p eres menor de edad 
  else if (edad >=18)
    p eres mayor de edad