doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel="stylesheet", href="./estilos/main.scss")
  body
    h1 aa, #{name}!

    p.
      Pug is a terse and simple templating language with a
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    script(type="module", src="./scripts/index.js",   crossorigin="")