extends includes/base.pug

block head
  title lab

block content
  header
    h1.titlePage
      | Laboratorio
    p.subTitlePage
      | Para ver la l&oacute;gica creativa de este momento
  footer.blockquote--pie(style="background-image: url('./img/img3.jpg');")
    
    blockquote
      h3
        | &quot;S&oacute;lo cuando bajamos al abismo recuperamos los aut&eacute;nticos tesoros de la vida.&quot;
        br
        small &mdash; Joseph Campbell
  //- script(src="./scripts/app.js" type='module')
